
@{
    ViewData["Title"] = "LoggedInLanding";
}



<div class="¨LogginInLanding Page Page-Container">
    <h2> Newest Torunaments</h2>

    <div class="Tournaments-Container">



        @foreach (var T in ViewBag.NewT)

        {

            <a class="L_element" href="/Tournaments/OverView/@T.TournamentId">
                @if (T.TournamentImage != null)
                {

                    <div class="L_element-backdrop" style="background:url(/images/tournaments/@T.TournamentImage)">
                        <span>@T.TournamentName</span>
                    </div>
                }
                else
                {
                    <div class="L_element-backdrop" style="background:url(/images/assets/placeholder.jpg)">
                        <span>@T.TournamentName</span>
                    </div>

                }

                <div class="L_element-info">

                    <div><span> <img class="Icon" src="~/images/assets/Landing/att.png" />@T.ParticipantsAmount&nbsp;&nbsp; </span></div>
                    <div><span> <img class="Icon" src="~/images/assets/Landing/teams.png" /> @T.Teams.Count / @T.Bracketsize</span></div>
                    <div><span><img class="Icon" src="~/images/assets/Landing/dateicon.png" /> @T.TimeFrame</span></div>

                </div>
            </a>
        }
        

    </div>




    <h2> Ongoing tournaments</h2>

    <div class="Tournaments-Container">

        @foreach (var T in ViewBag.NewF)

        {

            <a class="L_element" href="/Tournaments/OverView/@T.TournamentId">
                @if (T.TournamentImage != null)
                {

                    <div class="L_element-backdrop" style="background:url(/images/tournaments/@T.TournamentImage)">
                        <span>@T.TournamentName</span>
                    </div>
                }
                else
                {
                    <div class="L_element-backdrop" style="background:url(/images/assets/placeholder.jpg)">
                        <span>@T.TournamentName</span>
                    </div>
                }

                <div class="L_element-info">

                    <div><span><img class="Icon" src="~/images/assets/Landing/att.png" /> @T.ParticipantsAmount &nbsp;&nbsp; </span></div>
                    <div><span> <img class="Icon" src="~/images/assets/Landing/teams.png" /> @T.Teams.Count / @T.Bracketsize</span></div>
                    <div><span><img class="Icon" src="~/images/assets/Landing/dateicon.png" /> @T.TimeFrame</span></div>

                </div>
            </a>
        }


    </div>
</div>



<style>

    .Icon {
        float: left;
        width: 10%;
    }


    .Tournaments-Container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 12px 0 120px 0;
    }


    .L_element {
        transition: transform ease-in-out 0.2s;
        height: 300px;
        border-radius: 12px;
        text-align: center;
        margin: 12px;
        flex-basis: 200px;
        flex-grow: 1;
        background: #1c2123;
        overflow: hidden;
        box-shadow: 2px 2px 4px 0px #00000061;
        max-width: 260px;
    }

        .L_element:hover {
            transform: scale(1.1)
        }

    .L_element-backdrop {
        width: 100%;
        height: 50%;
        background: #1b1b1b;
        position: relative;
    }

        .L_element-backdrop span {
            width: 100%;
            height: max-content;
            position: absolute;
            bottom: 0;
            padding: 8px 0;
            left: 0;
            background: #0a0909ed;
        }

    .L_element-info {
        width: 100%;
        height: 50%;
    }

        .L_element-info div:nth-child(odd) {
            background: #22282a;
        }

        .L_element-info div {
            width: 100%;
            height: 33%;
            display: flex;
            align-items: center;
        }

            .L_element-info div span {
                color: #d6d6d6;
                margin-left: 12px;
                float:left;
            }
</style>



