@model TournamentWeb.Models.ViewModels.UserProfileViewModel

    <section class="Page-Container">
        <div id="profile" class=" Fheader">
          
            <div class="profileflex">
                
                <div class="info1">
                    <h1> Hej! @Model.UserName</h1>
                    @if (Model.ProfileImage == null)
                    {
                        <img class="pImage" src="~/images/profile/default-user-icon.jpg" /><br />
                    }
                    else
                    {
                        <img class="pImage" src="~/images/profile/@Model.ProfileImage" alt="Alternate Text" /><br />
                    }

                    <a asp-controller="UserProfile" asp-action="Edit" class="button-Type1">Edit Profile</a> <br />

                    <form asp-action="Delete">
                        <input type="hidden" name="Id"
                               value="@Model.Id" />
                        <input type="hidden" name="returnUrl"
                               value="@Model.ReturnUrl" />
                        <button class="button-Type2" style="background-color:darkred; margin-top:3%;" type="submit"
                                onclick="return confirm('Are you sure you want to delete your account?')">
                            Delete
                        </button>
                    </form>
                </div>
                <div class="info2">
                    <h3>Discord</h3>
                    <p> @Model.UserDiscord </p>
                    <h3>Email</h3>
                    <p>@Model.Email</p>
                    <h3>Username</h3>
                    <p>@Model.UserName</p>
                    <h3>Points</h3>
                    <p> @Model.Points</p>

                </div>
            </div>
        </div>
    </section>


    <style>
        .profileflex {
            margin-left: 20%;
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }


        .info1 {
            width: 50%;
            align-items: flex-start;
        }

            .info1 > button {
                margin-top: 5%;
            }

        .pImage {
            width: 70%;
            border-radius: 12px;
            margin-bottom: 2%;
        }

        .info2 {
            width: 50%;
            align-items: flex-start;
        }

            .info2 > p {
                color: #43b581;
                font-size: 2em;
                font-weight: bold;
            }
    </style>