@model IEnumerable<TournamentWeb.Models.Tournament>

@{ 
    ViewData["Title"] = "Tournaments"; 
}

<div class="TorunamentsPage Page Page-Container">
    <h1>Tournaments</h1>

    <div class="SearchBar-Wrap">
        <form class="form-search" asp-controller="Tournaments" asp-action="Index">
            <div class="SearchWrap">
                <input type="text" name="SearchString" />
                <label for="SearchString">Search</label>
                <button type="submit">Filter</button>
            </div>
        </form>
    </div>

    <div class="Tournaments-Container">
        @foreach (var T in Model)
        {
        <a class="T_element" asp-action="OverView" asp-route-id="@T.TournamentId">
            @if (T.TournamentImage != null)
                {
                    <div class="T_element-backdrop" style="background:url(/images/tournaments/@T.TournamentImage)">
                        <span>@T.TournamentName</span>
                    </div>
                }
                else
                {
                    <div class="T_element-backdrop" style="background:url(/images/assets/placeholder.jpg)">
                        <span>@T.TournamentName</span>
                    </div>
                }

            <div class="T_element-info">
                <div><span> <img class="Icon" src="~/images/assets/Landing/att.png" />@T.ParticipantsAmount</span></div>
                <div><span> <img class="Icon" src="~/images/assets/Landing/teams.png" /> @T.Teams.Count / @T.Bracketsize</span></div>
                <div><span><img class="Icon" src="~/images/assets/Landing/dateicon.png" /> @T.TimeFrame.ToString("dd/MM HH:mm")</span></div>
            </div>
        </a>
            }
        @for (int i = 0; i < 6; i++)
        {
            <div class="search-placeholder"></div>
        }
    </div>
</div>

<style>

    .Icon {
        float: left;
        width: 10%;
    }

    .SearchBar-Wrap {
        padding: 14px;
        background: #1c2123;
        border-radius: 4px;
    }

    .form-search input {
        width: 212px;
        height: 32px;
        border-radius: 4px;
        border: 0;
        padding: 0 12px;
    }

    .SearchWrap {
        position: relative;
        width: max-content;
        display: flex;
    }

    .form-search label {
        position: absolute;
        padding: 0 12px;
        color: white;
        top: 0;
        opacity: 0.7;
    }

    .form-search input:focus + label {
        opacity: 0;
    }

    .form-search button {
        width: 112px;
        height: 34px;
        margin: 0 8px;
        background: #2a9670;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .form-search [type=text] {
        background: #151c1f;
        border: 1px solid #d6d6d6;
        color: white;
    }

        .form-search [type=text]:focus {
            background: #151c1f;
            border: 1px solid #2fe8a7;
            color: white;
            outline: none;
        }

    .Tournaments-Container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 12px 0 120px 0;
    }

    .search-placeholder {
        height: 0px;
        margin: 12px;
        flex-basis: 200px;
        flex-grow: 1;
    }

    .T_element {
        transition: transform ease-in-out 0.2s;
        height: 300px;
        border-radius: 12px;
        text-align: center;
        margin: 12px;
        flex-basis: 200px;
        flex-grow: 1;
        background: #1c2123;
        overflow: hidden;
        box-shadow: 2px 2px 4px 0px #00000061;
    }


        .T_element:hover {
            transform: scale(1.1)
        }

    .T_element-backdrop {
        width: 100%;
        height: 50%;
        background: #1b1b1b;
        background-size: cover !important;
        background-position: center !important;
        position: relative;
    }

        .T_element-backdrop span {
            width: 100%;
            height: max-content;
            position: absolute;
            bottom: 0;
            padding: 8px 0;
            left: 0;
            background: #0a0909ed;
        }

    .T_element-info {
        width: 100%;
        height: 50%;
    }

        .T_element-info div:nth-child(odd) {
            background: #22282a;
        }

        .T_element-info div {
            width: 100%;
            height: 33%;
            display: flex;
            align-items: center;
        }

            .T_element-info div span {
                color: #d6d6d6;
                position: relative;
                width: 100%;
            }

            .T_element-info div span img{
                color: #d6d6d6;
                position: absolute;
                left: 10px;
                height: 20px;
            }
</style>