@model TournamentWeb.Models.Tournament
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@using Microsoft.AspNetCore.Identity;


@{
    string bracketLindk = "https://tournamentwebapp.azurewebsites.net/Bracket/Index/" + Model.TournamentId + "?User=" + UserManager.GetUserId(User);
}


@*<h1>
        @Model.TournamentName
    </h1>*@

@{
    if (ViewBag.error != null)
    {
        <div id="errorLoader"></div>
    };
}

<div id="iframwrap">
    @{
        if (@Model.TournamentImage != null)
        {
            <div id="balckdropBg" style="background: url(/images/tournaments/@Model.TournamentImage)"></div>
        } 
        else
        {
            <div id="balckdropBg" style="background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fassets.gamepur.com%2Fwp-content%2Fuploads%2F2021%2F01%2F05145757%2Frocket-league-F.jpg&f=1&nofb=1);"></div>
        }

    }
    <div id="balckdropOlay"></div>
    <div id="balckdropTexture"></div>
    <iframe src="@bracketLindk" frameBorder="0" scrolling="no" allowTransparency="true"></iframe>
</div>


<div class="Pcontainer Page-Container">
    <div class="PHeading">
        <h2>Paricipants</h2>
        <button class="TgoodButton" onclick="initpopup(@Model.TournamentId, 0, 0, 'CreateTeam')">
            Join Tournament
        </button>
    </div>
    @foreach (var team in Model.Teams)
    {
        <div class="teamwrap">
            <div class="teamName">
                <p>@Html.DisplayFor(modelItem => team.TeamName)</p>
                @foreach (var Attendee in team.Attendees)
                {
                    @if (UserManager.GetUserId(User) == Attendee.UserID && Attendee.UserStatus == "TeamLeader")
                    {
                        <div class="Addplayer" onclick="initpopup(@Model.TournamentId, @team.TeamId, 0, 'AddPlayer')">+</div>
                        <a asp-action="Delete" asp-route-id="@Model.TournamentId" asp-route-TeamId="@team.TeamId">
                            <div class="T-EvilButtons">Delete Team</div>
                        </a>
                    }
                }

            </div>
            @foreach (var Attendee in team.Attendees)
            {
        <div class="AttendeeName">
            <p>
                @Html.DisplayFor(modelItem => Attendee.UserName)
            </p>
            @if (Attendee.UserStatus == "TeamLeader")
            {
                <div class="TLIndicator">
                    <img src="~/images/assets/icons/TeamLeader.png" />
                </div>
            }
            @if (UserManager.GetUserId(User) == Attendee.UserID)
            {
                <a asp-action="RemovePlayer" asp-route-id="@Model.TournamentId" asp-route-TeamId="@team.TeamId">
                    <div class="T-EvilButtons">Leave</div>
                </a>
            }
            //WRONG
            else
            {
                @foreach (var AttendeeN in team.Attendees)
                {
                    if (AttendeeN.UserStatus == "TeamLeader" && UserManager.GetUserId(User) == AttendeeN.UserID)
                    {
                        <a id="dadatest" asp-action="RemovePlayer" asp-route-id="@Model.TournamentId" asp-route-TeamId="@team.TeamId" asp-route-UserID="@Attendee.UserID">
                            <div class="T-EvilButtons">Remove</div>
                        </a>
                    }
                }
            }
        </div>
            }
            @for (int i = 0; i < 5 - team.Attendees.Count; i++)
            {
                <div class="AttendeeName">
                    <div id="UseShipAddr" onclick="initpopup(@Model.TournamentId, @team.TeamId, 0, 'AddPlayer')">Empty</div>
                </div>
            }
        </div>
    }
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    if ($('#errorLoader').length) {
        $("#errorLoader").ready(function () {
            initpopup(0, 0, 0, "@ViewBag.error");
        })
    }

</script>


<style>

    .TLIndicator {
        flex-grow: 1;
        position: relative;
        transform: translateY(2px);
    }

    .TLIndicator img {
        height: 20px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 45%;
        left: 20px;
    }

    .TgoodButton {
        width: 148px;
        margin: 0 24px;
        height: 34px;
        background: #2a9670;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .PHeading {
        height: 64px;
        width: 100%;
        background: #1c2123;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    .PHeading h2 {
        margin: 0 24px;
    }

    .Addplayer {
        position: absolute;
        color: #2fe8a7;
        right: 0;
        top: 0;
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
        margin: 0 12px;
    }

    .T-EvilButtons {
        width: max-content;
        padding: 1px 6px;
        border-radius: 4px;
        color: #fd5151;
        color: white;
        background: #fd5151;
    }

    .Facontainer {
        background: #22282a;
    }

    #iframwrap {
        position: relative;
        width: 100%;
        height: 70vh;
    }

        #iframwrap div {
            z-index: 0;
            position: absolute;
            height: 100%;
            width: 100%;
        }

    #balckdropBg {
        opacity: 1;
        background-size: cover !important;
    }

    #balckdropOlay {
        background: rgb(22,26,28);
        background: linear-gradient(0deg, rgba(22,26,28,1) 0%, rgba(22,26,28,0.95) 40%, rgba(22,26,28,0.9) 80%, rgba(22,26,28,0.8) 100%);
    }

    #balckdropTexture {
        background: url(/images/assets/brackets/grid.jpg);
        mix-blend-mode: multiply;
        background-size: 64px;
        opacity: 0.3;
    }


    iframe {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    #Tcontainer {
        margin-top: 24px;
        background: grey;
        height: 40vh;
        width: 100%;
    }


    .Pcontainer {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 24px 0 84px 0 ;
    }

    .teamwrap {
        width: 254px;
        height: max-content;
        margin: 12px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0px 0px 1px #2fe8a7, 2px 2px 8px 0 black;
    }

    .AttendeeName:nth-child(odd) {
        background: #1c2123;
    }

    .teamName {
        position: relative;
        color: white;
        background: #1c2123;
        padding: 8px;
        border-bottom: 2px solid #2fe8a7;
    }

        .teamName p {
            margin: 0 0 8px 0;
            font-weight: bold;
            font-size: 18px;
        }

    .AttendeeName {
        color: grey;
        display: flex;
        justify-content: space-between;
        padding: 6px 8px;
    }

    .AttendeeName p{
        margin: 0;
    }
</style>
